/*doc
---
title: Description
name: description
author: William Pansky [SG0301235]
category: Cards
---

<p class="label loc">File location</p>
scss/modules/blog-cards/_!config.scss

<p class="label rel-links">Relevant links</p>
- [Zeplin Blog Landing](https://zpl.io/bzynr3a)
- [Zeplin Blog Cards](https://zpl.io/25Nv30V)
*/