.signup-form-wrapper {
  min-height: rem-calc(240);
  .columns.field {
    padding: 0;
    &.state {
      @include breakpoint(large) { padding-right: rem-calc(16); }
    }
  }
  .password { display: none; }
  .showpassword, .hidepassword {
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    &.textPasswordConfirm { margin-bottom: rem-calc(20); }
  }
  .show-pass {
    font-family: $proxima-nova-semibold;
    font-size: rem-calc(12);
    line-height: 1.8;
    letter-spacing: 1px;
    color: $secondary-color;
    text-transform: uppercase;
    &:hover { cursor: pointer; }
  }
  .legal {
    p {
      font-size: rem-calc(14);
      line-height: 1.6;
      color: $gray-dark;
    }
    a { color: $secondary-color; }
  }
  .state {
    &::after {
      @include breakpoint(large) { right: 41px; }
    }
  }
  select {
    font-size: rem-calc(16);
    background: none;
    padding: rem-calc(0 40 0 20);
    &:focus {
      outline: 1px solid $primary-color;
      border: 0;
    }
  }
  .button {
    padding: rem-calc(15 16);
  }
  .remember label {
    font-family: $proxima-nova-reg;
    font-size: rem-calc(14);
    text-transform: none;
    letter-spacing: 0;
  }
  .field.countrycode-field {
    @include breakpoint(medium down) { padding-right: rem-calc(16px); }
  }
  .field.areacode-field {
    @include breakpoint(large) { padding: rem-calc(0 16px); }
  }
  .password-field {
    margin-bottom: rem-calc(20);
    .field-errors {
      transform: none;
      border-top: 0;
    }
  }
  .submit-button {
    margin-bottom: rem-calc(32);
    @include breakpoint(medium) { margin-bottom: 0; }
  }
  &.login-form, &.signup-form {
    label {
      line-height: 1.33;
      margin-bottom: rem-calc(10);
    }
  }
  &.login-form {
    padding: rem-calc(0 22);
    @include breakpoint(large) { padding: rem-calc(0 4 0 22); }
    .columns { padding: 0; }
  }
}

.password-requirements {
  visibility: hidden;
  height: 0;
  font-family: $proxima-nova-reg;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #F0F0F0;
  border: 1px solid $gray-light;
  border-top: 0;
  border-radius: 0 0 2px 2px;
  margin-bottom: rem-calc(20);
  header { margin-bottom: rem-calc(20); }
  ul { margin: rem-calc(0 0 0 21); }
  li {
    position: relative;
    list-style-type: none;
    font-size: rem-calc(14);
    padding-left: rem-calc(5);
    &::before {
      font-family: 'fontawesome';
      position: absolute;
      left: rem-calc(-20);
      top: 0;
    }
  }
  .passed::before {
    content: '\f00c';
    color: #85c734;
  }
  &.visible {
    visibility: visible;
    height: auto;
    padding: rem-calc(20);
  }
}


.signup-form {
  padding: rem-calc(0 22 30);
  @include breakpoint(large) { padding: rem-calc(0 10 60); }
}

@import 'confirm';
