.signup-form-wrapper .reset-password-form {
  .submit-button {
    margin-bottom: rem-calc(24);

    @include breakpoint(large) { margin-bottom: 0; }
  }
}

.return-login {
  font-size: rem-calc(14);
  line-height: 1.3;
  margin-bottom: 0;

  @include breakpoint(large) { margin-top: rem-calc(20); }
}

.password-request {
  .signup-component-content.confirm-component-content p {
    margin-bottom: rem-calc(12);

    @include breakpoint(large) { margin-bottom: rem-calc(20); }

    &:last-child {
      margin-bottom: rem-calc(32);

      @include breakpoint(large) { margin-bottom: rem-calc(30); }
    }
  }
}

.password-success {
  .confirm-heading {
    @include breakpoint(large) { margin-bottom: rem-calc(30); }
  }
}