/*doc
---
title: Offer Cards Full-Width
name: offer-cards-fullwidth
author: William Pansky [SG0301235]
category: Cards
---

<p class="label loc">File location</p>
scss/modules/cards/offer-cards-fw/*.scss

![image](https://lh6.googleusercontent.com/6TaCuQphvp5aqRHx5sdusZ3WTMiZ-yAht1UKlh9Cl5JZrlErqtwUHG_p8oDGHXZEEC8jZNPtH6fdYVs=w2880-h1554-rw)

<div class="uk-alert-danger" uk-alert>
    <p>Needs to be refactored</p>
</div>

<p class="label rel-links">Relevant links</p>
- [Design Mockups](https://zpl.io/2Em0jY2)
- [Atlassian Docs](https://radisson.atlassian.net/wiki/spaces/SD/pages/19693570/Card+Styling)
*/

// @import 'offer-cards-fw.layout';
// @import 'offer-cards-fw.typography';